{% extends "base.html" %} {% block content %}
<form method="get" action="{% url 'forum:search_threads' %}">
    <input type="text" name="q" placeholder="Search threads…" />
    <button type="submit">Search</button>
</form>

<hr />

<h1>Forum Categories</h1>

<ul>
    {% for category in categories %}
    <li>
        <a href="{% url 'forum:thread_list' category.slug %}">
            <strong>{{ category.name }}</strong> </a
        ><br />
        <small>{{ category.description }}</small>
    </li>

    {% empty %}
    <li>No categories yet.</li>
    {% endfor %}
</ul>
{% endblock %}
