{% extends "base.html" %} {% block content %}
<div style="padding: 10px; border-bottom: 1px solid #ddd; margin-bottom: 20px">
    {% if user.is_authenticated %}
    <span>Hi, {{ user.username }}</span> |
    <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'account_login' %}">Login</a>
    {% endif %}
</div>
<form method="get" action="{% url 'forum:search_threads' %}">
    <input type="text" name="q" placeholder="Search threads…" />
    <button type="submit">Search</button>
</form>

<hr />

<h1>Forum Categories</h1>

<ul>
    {% for category in categories %}
    <li>
        <a href="{% url 'forum:thread_list' category.slug %}">
            <strong>{{ category.name }}</strong> </a
        ><br />
        <small>{{ category.description }}</small>
    </li>

    {% empty %}
    <li>No categories yet.</li>
    {% endfor %}
</ul>

<div>
    <a href="{% url 'forum:tag_list' %}"> Browse Tags </a>
</div>
{% if user.is_authenticated and user.profile.is_moderator %}
<div style="margin-top: 10px">
    <a href="{% url 'forum:report_list' %}">View Reports</a>
</div>
{% endif %}

<hr />

{% endblock %}
