{% extends "base.html" %} {% block content %}
<h2>New Thread in {{ category.name }}</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required /><br /><br />
    <label>Course (optional)</label>
    <select name="course">
        <option value="">None</option>
        {% for course in courses %}
        <option value="{{ course.id }}">
            {{ course.code }} - {{ course.name }}
        </option>
        {% endfor %}
    </select>
    <br /><br />
    <textarea
        name="content"
        rows="6"
        placeholder="Write your post..."
        required
    ></textarea
    ><br /><br />
    <small>Markdown supported (bold, lists, code blocks)</small>
    <br /><br />
    <button type="submit">Create</button>
    <input type="text" name="tags" placeholder="Tags (comma-separated)" />
</form>
<br />
<div>
    <a href="{% url 'forum:thread_list' category.slug %}">
        ← Back to {{ category.name }}
    </a>
</div>
{% endblock %}
