{% extends "base.html" %} {% block content %}
<h2>New Thread in {{ category.name }}</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required /><br /><br />
    <textarea
        name="content"
        rows="6"
        placeholder="Write your post..."
        required
    ></textarea
    ><br /><br />
    <button type="submit">Create</button>
    <input type="text" name="tags" placeholder="Tags (comma-separated)" />
    <small>Markdown supported (bold, lists, code blocks)</small>
</form>
{% endblock %}
